.schedule-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    text-align: left;
}

.todo-container {
    width: 50%;
    margin: 10px;
}

.sth-container {
    width: 50%;
    margin: 10px;
}

.memo-container {
    height: 180px;
}

.title {
    font-weight: bold;
}

.add-btn {
    float: inline-end;
    font-size: small;
    color: #747474;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #747474;
}